*.iml
*.apk
*.dex
*.class
bin/
gen/
out/

.gradle/
build/
local.properties
gradle.properties
/gradle.properties
proguard/
*.log
.navigation/
captures/
/local.properties

.idea/caches
.idea/libraries
.idea/modules.xml
.idea/misc.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/gradle.xml
.idea/dictionaries

*.jks
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
google-services.json
.idea/
